<?xml version="1.0" ?>
<robot name="Design" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!--<xacro:include filename="$(find gripper_description)/urdf/materials.xacro" />-->
<!--<xacro:include filename="$(find gripper_description)/urdf/Design.gazebo" />-->

<xacro:include filename="$(find main_description)/urdf/macros2.xacro" />
<xacro:include filename="$(find main_description)/urdf/arm.xacro" />

<xacro:property name="PI" value="3.14159"/>

<link name="world"/>

<link name="palm">
	<visual>
		<geometry>
			<box size="0.15 0.05 0.02"/>
		</geometry>
	</visual>
	<inertial>
		<mass value="0.1"/>
		<inertia ixx="0.001" ixy="0.001" ixz="0.001" iyy="0.001" iyz="0.001" izz="0.001"/>
	</inertial>
	<collision>
		<geometry>
			<box size="0.15 0.05 0.02"/>
		</geometry>
		</collision>
</link>

<gazebo reference="palm">
	<mu1>2000</mu1>
	<mu2>2000</mu2>
	<selfCollide>true</selfCollide>
	<gravity>true</gravity>
</gazebo>

<joint name="palm_arm_joint" type="fixed">
    <parent link="Link4_1"/>
    <child link="palm"/>
	<origin xyz="0.0 0 0.15" rpy="0 0 0"/>
</joint>

<finger name="LT">
	<segments value="12"/> 
	<base name="palm"/>
	<length value="0.15"/>
	<geometry base = "0.02 0.02" tip = "0.01 0.01"/>
	<origin xyz="0.04 0.04 0.03" rpy="-0.3 0 0"/>
	<force value="2"/>
</finger>

<finger name="RT">
	<segments value="12"/> 
	<base name="palm"/>
	<length value="0.15"/>
	<geometry base = "0.02 0.02" tip = "0.01 0.01"/>
	<origin xyz="0.04 -0.04 0.03" rpy="-0.3 0 3.14159"/>
	<force value="2"/>
</finger>

<finger name="LB">
	<segments value="12"/> 
	<base name="palm"/>
	<length value="0.15"/>
	<geometry base = "0.02 0.02" tip = "0.01 0.01"/>
	<origin xyz="-0.04 0.04 0.03" rpy="-0.3 0 0"/>
	<force value="2"/>
</finger>

<finger name="RB">
	<segments value="12"/> 
	<base name="palm"/>
	<geometry base = "0.02 0.02" tip = "0.01 0.01"/>
	<length value="0.15"/>
	<origin xyz="-0.04 -0.04 0.03" rpy="-0.3 0 3.14159"/>
	<force value="2"/>
</finger>





<gazebo>
  	<plugin filename="libgazebo_ros_control.so" name="gazebo_ros_control">
		<robotNamespace></robotNamespace>
  	</plugin>
 	<plugin name='spring_joint_plugin' filename='libspring_joint_plugin.so'>
		<kConstant> 0.4 </kConstant>
	</plugin>
	<plugin name="joint_controller_plugin" filename ="libjoint_controller_plugin.so">
		<jointNamesParam> "/arm_joints/joints" </jointNamesParam>
	</plugin>
	
</gazebo>

</robot>




